:root {
  --theme-color-light: rgba(204, 193, 180);
  --theme-color-medium: rgb(116, 104, 93);

  --theme-color-dark-brown: rgb(139, 115, 96);
  --theme-color-medium-brown: rgb(169, 153, 128);
  --theme-color-light-brown: rgb(211, 190, 165);
  --theme-color-lightest-brown: rgb(226, 217, 201);
  --theme-color-light-gray: rgb(210, 210, 210);
  --theme-color-lightest-gray: rgb(224, 222, 223);
}

/* help prevent overflow */

* {
  box-sizing: border-box;
}

a:visited {
  color: black;
}

body {
  background-color: var(--theme-color-dark-brown);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* have the content fill the entire height of the screen so there is no blank space at the bottom */
html {
  height: 100%;
}

/* make content of sections have a consistent indent */
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 100px;
}

section.secondary-section {
  background-color: var(--theme-color-light-gray);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-2-equal-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-equal-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  display: block;
  width: 100%;
}

.text-centered {
  text-align: center;
}

/* header section */

header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/federico-di-dio-photography-K2YN6EjpvXY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
  text-align: center;
}

/* give link the appearance of a button */
.generic-btn {
  border-radius: 6px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
header a {
  background-color: var(--theme-color-light-gray);
  margin-top: 30px;
  padding: 16px 32px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  text-transform: capitalize;
}

/* main section */

main {
  background-color: var(--theme-color-lightest-gray);
}

main h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px 0;
  text-transform: capitalize;
}

main h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  opacity: 0.5;
}

main p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

/* Why Tuscany Section */

.why-tuscany-section {
  align-items: center;
  vertical-align: middle;
}

.why-tuscany-section .img-responsive {
  aspect-ratio: 16 / 9;
}

/* Popular Attractions Section */

.card {
  background-color: var(--theme-color-lightest-gray);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 30px 0;
}

.card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.card h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.card-body {
  padding: 24px 32px;
}

.card-btn {
  background-color: rgba(139, 115, 96, 0.8);
  font-weight: 700;
  display: block;
  letter-spacing: 3px;
  padding: 16px;
}

.card-footer {
  padding: 0 30px 30px;
}

.card-header.grid {
  grid-gap: 0;
}

.embed-map,
.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Photo Gallery Section */

.photo-gallery-section {
  margin: 0 auto;
  padding: 60px;
  overflow-x: auto;
}

.row {
  margin-top: 20px;
}

/* footer section */

footer {
  background-image: linear-gradient(
      rgba(204, 193, 180, 0.8),
      rgba(204, 193, 180, 0.8)
    ),
    url("../images/pascal-plaumann-fEdJwXcLmP4-unsplash.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 20px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer li a {
  color: black;
  opacity: 0.9;
}

footer li a:hover {
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

footer li a:visited {
  color: black;
}

footer ul,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
  opacity: 0.9;
  padding: 0;
}

footer .coded-by-me-statement {
  font-size: 12px;
  margin: 20px 0;
  opacity: 0.8;
  text-align: center;
}

footer .coded-by-me-statement a:visited {
  color: black;
  font-weight: bold;
}

@media (max-width: 960px) {
  header h1 {
    font-size: 48px;
    line-height: 1;
    margin: 15px 10px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  footer {
    padding: 10px;
    text-align: center;
  }

  footer p {
    padding: 0 20px;
  }

  main h2 {
    font-size: 28px;
  }

  section {
    padding: 30px;
  }

  .card-image {
    display: none;
  }

  .embed-map {
    aspect-ratio: 16 / 9;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  .photo-gallery-section {
    padding: 40px 20px;
  }

  .row {
    margin-top: 20px;
  }

  .why-tuscany-section {
    text-align: center;
  }
}
