:root {
  --theme-color-light: rgba(204, 193, 180);
  --theme-color-medium: rgb(116, 104, 93);
}

body {
  /* background-color: #686a67; */
  background-color: var(--theme-color-medium);
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* have the content fill the entire height of the screen so there is no blank space at the bottom */
html {
  height: 100%;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* header section */

header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/federico-di-dio-photography-K2YN6EjpvXY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

header a {
  background-color: var(--theme-color-light);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  line-height: 1.5;
  margin-top: 30px;
  padding: 16px 32px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

header a:visited {
  color: black;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  text-transform: capitalize;
}

/* footer section */

footer {
  background-image: linear-gradient(
      rgba(204, 193, 180, 0.8),
      rgba(204, 193, 180, 0.8)
    ),
    url("../images/pascal-plaumann-fEdJwXcLmP4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer li a {
  color: black;
  opacity: 0.9;
}

footer li a:visited {
  /* color: rgb(84, 54, 19); */
  color: black;
}

footer ul,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
  opacity: 0.9;
  padding: 0;
}

footer .coded-by-me-statement {
  font-size: 12px;
  margin: 20px 0;
  opacity: 0.8;
  text-align: center;
}

footer .coded-by-me-statement a:visited {
  color: rgb(84, 54, 19);
}

footer .col {
  margin-right: 20px;
}

footer .rightmost-col {
  margin-right: 0;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 960px) {
  /* header{
    padding: 120px 0;
  } */

  header h1 {
    font-size: 48px;
    line-height: 1;
    margin: 15px 0;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
